<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Parallel Testing Suite">
    <test name = "Run Tests in Parallel" parallel="classes" thread-count="2">
        <packages>
            <package name="com.javarestassuredtemplate.tests.*"></package>
        </packages>
    </test>
</suite>